/* MTS.VirtualList v1.0.0 */
.mts-vlist { scrollbar-width:thin;scrollbar-color:var(--mts-border-color) transparent; }
.mts-vlist::-webkit-scrollbar { width:6px; }
.mts-vlist::-webkit-scrollbar-track { background:transparent; }
.mts-vlist::-webkit-scrollbar-thumb { background:var(--mts-border-color);border-radius:3px; }
.mts-vlist__visible { contain:strict; }
